.container {
    display: "flex";
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.formGroup {
    margin: auto;
    padding: 2rem;
}

.inventoryPaper {
    padding:1rem 3rem;
    width: 15rem;
}


